@import 'reset'; 
$pink: #ff5056;
$light-pink:rgb(245, 106, 110);
$white: #fff;
$blue:   rgb(106, 218, 247);
$gray: #667482;
$lato: 'Lato', sans-serif;  
$font-size: 14px;
$font-size__modal: 14px;
$font-size__hidden-menu:28px;   
$font-weight__hidden-menu: 700;
$second: 0.2s;
$modal: #2f6681;
$hidden-overlay: rgba(0,0,0,.75);
$main-overlay:rgb(105, 99, 99);
$header-overlay: rgba(253, 253, 253, 0.767);
$red: red solid 2px;
$qwe: white solid 1px;
 
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; border-radius: $radius; }
  


body{  
    height: 2000px;
    
    .main{   
        display: flex;
        flex-direction: column;
    }
    .header{
        display: flex;
        justify-content: center;
        height: 790px;
        
        
    }
    .main-overlay{
        position: absolute;
        top: 0;         
        width: 100%;  
        height: 790px;
        z-index: 0;  
        opacity: 0.9;
        background-color: #05728b;
        /* IE9, iOS 3.2+ */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMGVhZmRhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDRjNWIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjc0NSIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDRjNWIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjkxOSIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDVlNmMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjk3Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwNGM1YiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
        background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(14, 175, 218)),color-stop(0.745, rgb(0, 76, 91)),color-stop(0.919, rgb(0, 76, 91)),color-stop(0.97, rgb(0, 94, 108)),color-stop(1, rgb(0, 76, 91)));
        /* Android 2.3 */
        background-image: -webkit-repeating-linear-gradient(bottom,rgb(14, 175, 218) 0%,rgb(0, 76, 91) 74.5%,rgb(0, 76, 91) 91.9%,rgb(0, 94, 108) 97%,rgb(0, 76, 91) 100%);
        /* IE10+ */
        background-image: repeating-linear-gradient(to top,rgb(14, 175, 218) 0%,rgb(0, 76, 91) 74.5%,rgb(0, 76, 91) 91.9%,rgb(0, 94, 108) 97%,rgb(0, 76, 91) 100%);
        background-image: -ms-repeating-linear-gradient(bottom,rgb(14, 175, 218) 0%,rgb(0, 76, 91) 74.5%,rgb(0, 76, 91) 91.9%,rgb(0, 94, 108) 97%,rgb(0, 76, 91) 100%);

        
        
        

         
       
        
       /* background-color: $main-overlay;*/
       
    }
    .header-overlay{
        position: fixed;
        top: 0;
        width: 9999px;
        height: 80px;
        background-color: $header-overlay;
        z-index: 2;
    }
    .header-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        height: 80px;
        max-width: 1550px;
        white-space: nowrap;       
        font-family: $lato;  
        font-size: $font-size;
        letter-spacing: 0.03em;    
        z-index: 3;
           
            
        .logo{
            user-select: none;
            display: flex;
            align-items: center; 
            img{height: 43px;}                          /*klientboost img*/
            
            .WERE-HIRING{                             /*WE'RE HIRING*/
                display: flex;
                align-items: center;
                position: relative;
                left: 30px;
                color: $white; 
                background-color: $pink;/**/
                @include border-radius(3px);   
                padding: 4px 12px;
                z-index: 2;                                                                            
                }                        
            .WERE-HIRING:hover{
                background-color:$light-pink;
                transition-property: background;
                transition-duration: $second;
                        }

            .WERE-HIRING::before{
                bottom: 12px; 
                position: absolute;
                right:  120px;
                width:20px;
                height: 6px;
                border-top-left-radius: 100%;
                border-bottom-left-radius: 0px;
                content: '';
                background-color: $pink;
                display: inline-block;
                vertical-align: middle;
                z-index: -1;
            }  
            .WERE-HIRING::after{
                bottom: 7px;
                position: absolute;
                right:  120px;  
                width: 20px;
                height: 6px;
                border-top-left-radius: 0px;
                border-bottom-left-radius:100% ;
            content: '';
                background-color: $pink;
                display: inline-block;
                vertical-align: middle;
                z-index: -1;
            }  
            .WERE-HIRING:hover::after{
                background: $light-pink; 
                transition-property: background;
                transition-duration: $second*3;
                }
            .WERE-HIRING:hover::before{
                background: $light-pink; 
                transition-property: background;
                transition-duration: $second*3;
                }
        }           
                
                   
        .menu{
            user-select: none;
            margin-left: 78px;
          ul{display: flex;
            flex-wrap: nowrap;
            font-weight: 600;

                                 
                li{                              
                    padding: 15px;
                    display: flex;
                    justify-content: space-around;
                    display: inline-block; 
                    a{color: $gray;}
                 a:hover{
                    color:$blue;
                    transition-property: color ;
                    transition-duration:$second;
                }
            } 

            .main-link{
                color: $pink;
                border: 3px solid $pink ;
                padding: 15px 28px; 
                @include border-radius(3px);
            }  
            .main-link:hover{
                color: $white;
                background-color: $pink;
                border: 3px solid $pink;
                transition-property: background;
                transition-duration: $second;
            }                         
        }        
    }
                       
}
}

.header-bottom{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    user-select: none;
    font-family: $lato;
    
    .wrap__img-rocket{margin-top: 60px}
    img{
        height: 198px;
    }
    h1{ 
        user-select: all;
        color: $white;
        font-weight: 900;
        font-size: 3em;
        padding: 0px 20px;
        padding-bottom: 22px; 
    }
    a{
        padding: 15px 32px;
        background: $pink;
        color: $white;
        @include border-radius(7px);
        font-size: 1.2em;
        line-height: 60px;        
    }
    a:hover{
        background: $light-pink; 
        transition-property: background;
        transition-duration: $second}
}


.burger-menu__button{      /*бургер*/
    display:none;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 4;
    width: 40px;
    height: 40px;
    @include border-radius(50%);
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before{
    position: absolute;    
    width: 22px;
    height:3px;
    background-color:  $gray ;

}
.burger-menu__lines{
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);

}
.burger-menu__lines::before{
    content: '';
    top: 8px;
}
.burger-menu__lines::after{
    content: '';
    top: -8px;
}



.overlay__hidden-menu{     /*фон - скрытое меню*/
     
    background-color: $hidden-overlay;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    height: 100%;
    width: 100%;
    display: none;
}
.hidden-menu{               /*скрытое меню*/
    display: flex;
    position: absolute;
    align-items: center;
    font-size: $font-size__hidden-menu;
    background-color: $white; 
    font-weight: $font-weight__hidden-menu;
    font-family: $lato;
    z-index: 30;
    right: 0;
    height: 100%;
    
    ul{   
        padding: 50px 150px 50px 20px   ;
    }  
     
    a{  
        color:$gray;
        line-height: 40px;
        font-size: 14px;
    }
        
    }
    
    /*крестик*/
    .cross__hidden-menu{
        position: absolute;
        top: 25px;  
        right: 14px;
    }
    #cross {
        
        width: 30px;
        height: 30px;
        transform:rotate(45deg);
        -ms-transform:rotate(45deg); 
        -webkit-transform:rotate(45deg);  
 }


 #cross:before, #cross:after {
     content: "";
     position: absolute;
     background-color:$blue;
 }
 
 #cross:before {
     left: 50%;
     width: 30%;
     margin-left: -15%;
     height: 100%;
     
   
 }
  #cross:after {
   top: 50%;
   height: 30%;
   margin-top: -15%;
   width: 100%;
 }









/*модальное окно*/
 /*GET PROPOSAL*/
 
 .modal-overlay{   
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color:$hidden-overlay;
   /* display: none;*/
    }
    
    .wrap-modal{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include border-radius(10px);
        background-color: $modal;
        max-height: 570px;
        max-width: 670px;
        height: 80%;
        width: 80%;
        opacity: .99;
        border: solid 2px red}

    .modal{
        position: relative;
        display: flex;
        justify-content: center;
        user-select: none;
        width: 345px;
        height: 350px; 
        font-family: $lato;
        font-size: $font-size__modal;
        border: solid 2px black;
    }

    .modal__container-top{
        text-align: center;              
    } 

         
    


    .group-selectio{  
        span{
            display: inline-block;
            color: $white;
            font-size: 23px;
            padding-bottom: 10px;
            position: relative; 
        } 

        .main-offer{
            background-color:#f1f3f4;
            padding: 15px 15px 15px 10px; 
        }
        .main-offer:hover{
            background-color:#f1f3f4;
            color: $gray; 
        }
       
     
        ul{                
            display: flex;
            position: absolute;
            left: 0;
            flex-direction: column;
            background-color: $white;
            width: 100%;
            padding: 0px;
            li{
                font-size: 13px; 
                color: $gray;
                cursor: pointer;
                text-align: left;
                padding: 10px ; 
                border-top: 0.5px solid rgba(128, 128, 128, 0.397);
            }
                
            li:hover{ 
                background-color: $pink;
                color: $white;
            }
        }


        #offerList__top{
            display: none;
            position: absolute;
            
        }
    }  


 /*стрелка смотрит вниз*/
        #arrowTopDown{
            position: absolute;
            right: 25px;
            top: 0; 
            bottom: 0;
            font-size: 25px; 
            transform: rotate(90deg) ;
            color: $gray;
        }
        #arrowTopDown:hover{ 
            color: $pink; 
        }  
        /*стрелка смотрит вверх*/
        
        #arrowTopUp{
            position: absolute;
            top: 10px ; 
            right: 19px; 
            font-size: 25px; 
            transform: rotate(270deg) ;
            color: $pink;
        }
       





    .button-continue{
        display: none;
        margin-top: 35px;} 
       
      
.group-2{display: none;}


















        

        /*крестик*/
    .modal-overlay__cross{
        position: absolute;
        top: 15px;   
        right: 15px;}    
    #modal-overlay__cross {        
        width: 25px;
        height: 25px;
        transform:rotate(45deg);
        -ms-transform:rotate(45deg); 
        -webkit-transform:rotate(45deg);}      
    #modal-overlay__cross:before, #modal-overlay__cross:after {
        content: "";
        position: absolute;
        background-color:$white;}   
    #modal-overlay__cross:before {
        left: 50%;
        width: 30%;
        margin-left: -15%;
        height: 100%;}
    #modal-overlay__cross:after {
        top: 50%;
        height: 30%;
        margin-top: -15%;
        width: 100%;}
         
     
 


    